<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, May 11</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:00</td>  <td>Welcome and introductions</td> </tr>
      <tr> <td>11:15</td>  <td>Seminar 1 (SG)</td> </tr>
      <tr> <td>12:00</td>  <td>Seminar 2 (VK)</td> </tr>
      <tr> <td>12:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:45</td>  <td>Workshop 1 (Simba)</td> </tr>
      <tr> <td>14:45</td>  <td>Workshop 2 (JAX-ABA)</td> </tr>
      <tr> <td>15:30</td>  <td>Debrief (SG, VK)</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

