<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, May 11</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://www.surveymonkey.com/r/J95QZGY" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:00</td>  <td>Welcome and introductions</td> </tr>
      <tr> <td>11:05</td>  <td>Machine Learning Fundamentals for Behavior Analysis and an introduction to JAX Automatic Behavior System (JABS) (Vivek Kumar)</td> </tr>
      <tr> <td>11:50</td>  <td>Supervised Machine Learning for the Unsupervised Behavioral Neuroscientist (Sam Golden)</td> </tr>
      <tr> <td>12:35</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:35</td>  <td>SimBA Lab</td> </tr>
      <tr> <td>14:35</td>  <td><a href="https://github.com/KumarLabJax/JABS-behavior-classifier" target="_blank" rel="noopener noreferrer">JABS</a> Lab</td> </tr>
      <tr> <td>15:35</td>  <td>Debrief</td> </tr>
      <tr> <td>15:55</td>  <td><a href="https://www.surveymonkey.com/r/WLYKPWH" target="_blank" rel="noopener noreferrer">Post-workshop survey</a> </td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

