<div id="shell">
  <h3>Microsoft Remote Desktop</h3>
  <p>
    Use the Microsoft Remote Desktop app to connect to a remote PC or virtual apps and desktops made available by your admin. 
    The app helps you be productive no matter where you are.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="linux" href="#shell-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="shell-macos">
        <ol>
          <li>Open the App Store and search for Microsoft Remote Desktop, or visit the <a href="https://apps.apple.com/app/microsoft-remote-desktop/id1295203466?mt=12">Mac App Store</a> online.</li>
          <li>Install Microsoft Remote Desktop and open it.</li>
          <li>Navigate to "Add PC".</li>
          <li>Add the ip address 34.75.21.178 as PC name.</li>
          <li>Click "Add a User Account".</li>   
	  <li>Enter Username jmcrs and copy-paste the Password HDQ|HT>|B;Pw}\~</li>
          <li>Click the gear icon to connect. It might take a while to connect the first time.</li>
         </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-windows"> 
       <ol>
          <li>Open the start menu and search for Remote Desktop Connection.</li>
          <li>In the “General” tab, add the ip address 34.75.21.178 for Computer.</li>
          <li>Enter Username jmcrs.</li>
          <li>Copy-paste the Password HDQ|HT>|B;Pw}\~</li>   
	  <li>Click "Connect".</li>
          <li>Click "Yes" in the dialog box that follows to connect to the remote computer.</li>
       </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-linux">
        <p>
          If you are using a Linux machine please 
	  <a href="https://www.groovypost.com/howto/remote-desktop-linux-macos-windows-10/">see these instructions</a>
	  to install and run Microsoft Remote Desktop.
        </p>
      </article>
     </div>
  </div>
</div>
