<div id="shell">
  <h3>Microsoft Remote Desktop</h3>
  <p>
    Use the Microsoft Remote Desktop app to connect to a remote PC or virtual apps and desktops made available by your admin. 
    The app helps you be productive no matter where you are. Please follow the instructions below for your operating system before
    arrival at the workshop. Instructors and helpers will not be able to install software on your computer because they don't have 
    administrative rights, so please take care of any software installation beforehand. Thanks!
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a data-os="macos" href="#shell-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="linux" href="#shell-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="shell-macos">
        <ol>
          <li>Open the App Store and search for Microsoft Remote Desktop, or visit the <a href="https://apps.apple.com/app/microsoft-remote-desktop/id1295203466?mt=12">Mac App Store</a> online.</li>
          <li>Install Microsoft Remote Desktop and open it.</li>
          <li>Locate "Add PC". The PC name, user name, and password will be provided at the start of the workshop.</li>
         </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-windows"> 
       <ol>
          <li>Open the start menu and search for Remote Desktop Connection.</li>
          <li>Locate the “General” tab and "Computer". The computer name, user name, and password will be provided at the start of the workshop.</li>
       </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="shell-linux">
        <p>
          If you are using a Linux machine please 
	  <a href="https://www.groovypost.com/howto/remote-desktop-linux-macos-windows-10/">see these instructions</a>
	  to install and run Microsoft Remote Desktop.
        </p>
      </article>
     </div>
  </div>
</div>
